@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Poppins:wght@300;400;500;600&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-family: Poppins;
	font-size: 16px;
	line-height: 24px;
	position: relative;
	height: 100vh;
	display: flex;
}
.container{
	width: 430px;
	position: absolute;
	left: 123px;
	top: 132px;
}
.logo{
	position: absolute;
	width: 100px;
	height: 30px;
	left: 42px;
	top: 31px;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
}
.title{
	font-weight: 500;
	font-size: 30px;
	line-height: 45px;
	margin-bottom: 22px;
}
.text{
	margin-bottom: 6px;
}
.link{
	margin-bottom: 50px;
}
.link a{
	color: #0C21C1;
	font-weight: 600;
	text-decoration: none;
}
input[type="password"], input[type="email"], input[type="text"]{
	width: 100%;
	border: none;
	border-bottom: 2px solid rgba(0, 8, 66, 1);
	margin-bottom: 18px;
	outline: none;
	padding-left: 40px;
	height: 51px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	position: relative;
	background: #fff;
}
input[type="password"]{
	padding-right: 30px;
	border-bottom: 2px solid rgba(171, 171, 171, 1);
	margin-bottom: 18px;
}
#icon1{
	position: absolute;
	left: 0px;
	top: 172px;
	padding-top: 41px;
	padding-left: 13px;
	z-index: 1;
}
#icon2{
	position: absolute;
	left: 15px;
	top: 305px;
	z-index: 1;
}
#icon3{
	position: absolute;
	right: 10px;
	top: 305px;
	color: rgba(171, 171, 171, 1);
	z-index: 1;
}
#icon4{
	position: absolute;
	left: 10px;
	top: 306px;
	z-index: 1;
}
#icon5{
	position: absolute;
	left: 12px;
	top: 490px;
	z-index: 1;
}
#icon6{
	position: absolute;
	right: 12px;
	top: 397px;
	z-index: 1;
}
#icon7{
	position: absolute;
	left: 12px;
	top: 397px;
	color: black;
	z-index: 1;
}
#icon8{
	position: absolute;
	right: 12px;
	top: 495px;
	color: black;
	z-index: 1;
}

.icons{
	display:flex;
	justify-content: center;
}
.facebook{
	background-color: blue;
	color: white;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.apple{
	color: white;
	background-color: black;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.google img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.btn{
	margin-top: 60px;
	margin-bottom: 31px;
	background: #0C21C1;
	box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
	border-radius: 32px;
	width: 100%;
	height: 53px;
	color: white;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	border: none;
	transition: 0.5s;
	position: relative;
}
.form__help{
	margin-top: 30px;
}
.btn:hover{
	filter: brightness(1.5);
}
.icons{
	text-align: center;
}
.form__text{
	text-align: center;
	color: #B5B5B5;
	margin-bottom: 31px;
}
.facebook, .apple , .google{
	margin-left: 15px;
	margin-right: 15px;
	font-size: 38px;
	display: inline;
}
.facebook{
	color: linear-gradient(180deg, #18ACFE 0%, #0163E0 99.7%);
}
.add{
	text-align: right;
	text-decoration: none;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	color: #4D4D4D;
	position: absolute;
	right: 0px;
}
.rem{
	padding-left: 10px;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	color: #000000;

}
.information-block{
	position: absolute;
	left: 683px;
	top: 10px;
	color: white;
	width: 735px;
	height: 859px;
	background: #000842;
	border-radius: 15px;
}
#picture{
	width: 521px;
	height: 521px;
	margin-left: 123px;
 }
 .fa-phone-alt{
 	color: white;
 	text-align: right;
 }
 .information-block__phone{
 	text-align: right;
 	padding: 20px;
 	font-size: 15px;
	line-height: 22px;
 }
 .information-block__title{
 	padding-top: 100px;
 	padding-left: 98px;
 	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
	color: #FFFFFF;
 }
 .information-block__text{
 	padding-left: 98px;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
 }

  @media (max-width: 767px){
 	.information-block{
 		display: none;
 	}
 }
